body {
    background-color: rgb(212, 212, 121);
}

.chercher {
    margin-top: 6%;
    margin-left: 40%;
  }

  .btn {
    background-color: blue;
    color: white;
    margin: 22px;
    border-radius: 15px;
  }

  .btn:hover {
    background-color: rgba(255, 255, 0, 0.884);
    color: blue;
    margin: 22px;
    border-radius: 15px;
    font-weight: bold;
  }

  .bouton {
    border-radius: 10px;
    background-color: rgb(161, 158, 158,);
    color: black;
  }

.navbar {
    background-color: rgba(24, 24, 172, 4.781);
}

.baba {
    margin-left: 42%;
}

.btns {
    background-color: blue;
    color: white;
    margin-left: 35%;
    border-radius: 5px;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3%;
    background-color: rgba(255, 255, 0, 0.678);
}

.card:hover {
    box-shadow:  2.91px 2.91px 5px #b4aa20, -2.91px -2.91px 2px #bdba23, 
    inset 2.91px 2.91px 2px #475899, inset -2.91px -2.91px 2px #4c69b8; 
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.babac {
    margin-left:7px;
    border-radius: 25px;
    background-color: rgba(131, 125, 125, 0.726);
    font-style: italic;
}