.chercher {
    margin-top: 6%;
    margin-left: 40%;
  }

  .btn {
    background-color: blue;
    color: white;
    margin: 22px;
    border-radius: 15px;
  }

  .btn:hover {
    background-color: yellow;
    color: blue;
    margin: 22px;
    border-radius: 15px;
    font-weight: bold;
  }

  .bouton {
    border-radius: 10px;
    background-color: rgb(161, 158, 158,);
    color: black;
  }

.navbar {
    background-color: rgba(24, 24, 172, 4.781);
}