body {
    background-color: rgb(212, 212, 121);
}

.chercher {
    margin-top: 6%;
    margin-left: 40%;
  }

  .btn {
    background-color: blue;
    color: white;
    margin: 22px;
    border-radius: 15px;
  }

  .btn:hover {
    background-color: rgba(255, 255, 0, 0.884);
    color: blue;
    margin: 22px;
    border-radius: 15px;
    font-weight: bold;
  }

  .bouton {
    border-radius: 10px;
    background-color: rgb(161, 158, 158,);
    color: black;
    align-items: center;
  }

.navbar {
    background-color: rgba(24, 24, 172, 4.781);
}

.baba {
    margin-left: 42%;
}

.baba:hover {
    box-shadow:  0.91px 0.91px 2px #b4aa20, -0.91px -0.91px 1px #bdba23, 
    inset 0.91px 0.91px 1px #475899, inset -0.91px -0.91px 1px #4c69b8; 
}

.btns {
    background-color: blue;
    color: rgb(240, 225, 12);
    margin-left: 39%;
    border-radius: 5px;
}

.btns:hover {
    color: blue;
    background-color: wheat;
    margin-left: 39%;
    border-radius: 5px;
    font-weight: bold;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3%;
    background-color: rgba(255, 255, 0, 0.678);
}

.card:hover {
    box-shadow:  5.91px 2.91px 5px #ad91a7, -0.91px -0.91px 2px #925e7d, 
    inset 1.91px 1.91px 2px #475899, inset -1.91px -1.91px 2px #4c69b8; 
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.pouvoir {
    margin-left:33px;
    border-radius: 25px;
    background-color: rgba(131, 125, 125, 0.726);
    font-style: italic;
}

.pouvoir:hover {
    font-weight: bold;
    color: bisque;
    background-color: rgb(214, 103, 103);
    box-shadow:  0.91px 0.91px 2px #ad91a7, -0.91px -0.91px 2px #925e7d, 
    inset 0.91px 0.91px 2px #b74dbb, inset -1.91px -1.91px 2px #b149b4; 
}